[flake8]
max-line-length = 88
extend-ignore =
    E501,
    W503,
    F401,
    E741,
    F841
exclude =
    .git,
    __pycache__,
    build,
    dist,
    external-src,
    oca-addons
per-file-ignores =
    */__init__.py:F401
    */tests/__init__.py:F401
